.IphoneFrame {
    position: relative;
    background: url('https://dl.dropboxusercontent.com/u/254436606/ios7/assets/iphone5s.png') no-repeat;
    background-size: 30vw 53vw;
    width: 30vw;
    height: 53vw;
    max-height: 100vh;

    margin: 0 auto;
}
