#feature {
  height: 50vh;
  /*background: lightgreen;*/
}

.fea-1 {
  height: 50vh;
  background: black;
}

.fea-2 {
  height: 50vh;
  background: gray;
}

.fea-3 {
  height: 50vh;
  background: white;
}
